.offers {
    background-color: #EBEBEB;
    background-size: cover;
    background-repeat: no-repeat;

}

.offers__study {

    padding-top: 19px;

}

.list__study {
    display: flex;
    min-height: 139px;
    min-width: 350px;
    gap: 30px;
    margin-right: 30px;


}

.list__items-titel {
    color: #666;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.text__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #85859B;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */



}

.list__items {}

.advates__text-section {
    margin-left: 30px;
}

.offers__advantes {
    margin-top: 90px;
}

.advantes__list {
    display: flex;
}

.advantes__img {
    max-width: 730px;
    height: auto;
}

.advantes__titel {
    color: #666;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;


}

.advantes__text {
    color: #85859B;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
    text-wrap: wrap;
}

.sliders {
    display: flex;
    width: 100%;
    padding-top: 90px;
}

.slider {
    border: 1px solid #C0C0C0;
    min-width:350px;
    flex-shrink: 0;
    margin-right: 30px;
   

}