.offers {
    background-color: #EBEBEB;
    background-size: cover;
    background-repeat: no-repeat;

}

.offers__study {

    padding-top: 19px;

}

.list__study {
    display: flex;
    min-height: 139px;
    min-width: 350px;
    gap: 30px;
    margin-right: 30px;


}

.list__items-titel {
    color: #666;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.text__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #85859B;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */



}

.list__items {}

.advates__text-section {
    margin-left: 30px;
}

.offers__advantes {
    margin-top: 90px;
}

.advantes__list {
    display: flex;
}

.advantes__img {
    max-width: 730px;
    height: auto;
}

.advantes__titel {
    color: #666;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;


}

.advantes__text {
    color: #85859B;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
    text-wrap: wrap;
}

.sliders {
    display: flex;
    width: 100%;
    padding-top: 90px;
}

.slider {
    border: 2px solid #C0C0C0;
    min-width: 350px;
    flex-shrink: 0;
    margin-right: 30px;


}

.slider:hover {

    border: 2px solid #7875FE;
    transition: 0.4s;


}

.prodact__container {
    margin-top: 90px;
    display: flex;
    flex-wrap: nowrap;
    row-gap: 30px;
    position: relative;
    margin-bottom: 90px;
}



.img__prodact-groups {
    min-width: 330px;
    max-height: 180px;
    position: relative;
    flex-wrap: nowrap;
    display: flex;
}

.img__prodact-groups::after {
    content: "";
    background-image: url(images/hero/bagroun__product.svg);
    background: cover no-repeat;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
}




.prodact-1 {
    position: absolute;
    top: 51px;

}

.prodact-2 {
    position: absolute;
    overflow: hidden;
    z-index: +1;
    left: 68px;
    top: 22px;
}

.prodact-3 {
    position: absolute;
    left: 84px;
    top: 51px;

}

.prodact-4 {
    left: 44px;
    position: absolute;
}

.prodact-7 {
    left: 44px;
    position: absolute;

}

.prodact-10 {
    left: 33px;
    position: absolute;

}

.prodact-11 {
    left: 88px;
    position: absolute;

}
















.offers__lists {
    display: flex;
    width: 100%;
    margin-top: 200px;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.offers__list {
    margin-right: 30px;
    min-width: 301px;
    min-height: 155px;



}

.titel-items {
    color: #666;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;

}

.quantity-itens {
    color: #B5B5BD;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.info-items {
    color: #85859B;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    text-align: left;

}

.link-info {
    color: #7875FE;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}


.link {
    margin-top: 20px;

}

.link-info::after {
    content: "";
    background-image: url(images/hero/Стрелка.svg);
    width: 100%;
    background: no-repeat;
    position: absolute;

}